@use '../util/'as *;

.documents {

    display: flex;
    gap: rem(20);

    &__left {

        display: flex;
        width: rem(60);
        height: rem(60);

        @include breakpoint(medium) {
            width: rem(80);
            height: rem(80);
        }

        border: .5px solid var(--dark-blue);

        img {
            margin: 0 auto;
            width: 70%;
        }
    }

    &__right {
        padding-top: rem(10);
        color: var(--dark-blue);
    }
}